
body {
    background-color: rgb(233, 232, 231);
}
h1 {
   color: cornflowerblue;
   text-align: center;

}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
   
  margin-top: 200px;
}

.user span {
    font-size: 20px;
}

input {
    color: whitesmoke;
    background-color: cornflowerblue;
    width: 190px;
    height: 50px;
border-radius: 20px;
   border: none;
    font-size: 20px;
    text-align: center;
 
}

input:focus {
    outline: none;
}


button {
    color: silver;
    border: none;
    background-color:rgb(233, 232, 231); 
}

.input-word {
    display: flex;
    justify-content: center;
}

.main-word {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-word__sub{
    background-color: whitesmoke;
    margin: 50px 0px;
    font-size: 30px;
    width: 400px;
    height: 80px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

background-color: rgb(244, 185, 195);